<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load blog_extras %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Fresh Zone Theme, Portfolio Page</title>
<meta name="keywords" content="fresh zone, portfolio, theme, free web design, free css templates" />
<meta name="description" content="Fresh Zone, Portfolio, free CSS template by templatemo.com" />
<link href="{{ STATIC_URL }}css/templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ddsmoothmenu.css" />

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>

<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/jquery.dualSlider.0.2.css" />

<script src="{{ STATIC_URL }}js/jquery-1.3.2.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.timers-1.2.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.dualSlider.0.3.min.js" type="text/javascript"></script>

<script type="text/javascript">
    
    $(document).ready(function() {
        
        $("#carousel").dualSlider({
            auto:true,
            autoDelay: 6000,
            easingCarousel: "swing",
            easingDetails: "easeOutBack",
            durationCarousel: 1000,
            durationDetails: 600
        });
        
    });
     
</script>

</head>
<body>

<div id="templatemo_header_wrapper">
	<div id="templatemo_header">
    	<div id="site_title"><img src="{{ STATIC_URL }}images/title.gif"/></div>
        <div id="templatemo_menu" class="ddsmoothmenu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about.html">About</a>
                    <ul>
                        <li><a href="site/about/bio.html">joanna's biography</a></li>
                        <li><a href="site/about/farm_project.html">farm project</a></li>
                        <li><a href="site/about/resume.html">resume</a></li>
		    </ul>
                </li>
                <li><a href="/gallery/1" class="selected">Gallery</a>
                    <ul>
			<li><a href="portfolio/illustrations">illustrations</a></li>
			<li><a href="portfolio/blankets">blankets</a></li>
			<li><a href="portfolio/rugs">hooked rugs</a></li>
			<li><a href="portfolio/scarves">scarves</a></li>
			<li><a href="portfolio/other">odds & ends</a></li>
		   </ul>
                </li>
                <li><a href="/blog/1">Blog</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
            <br style="clear: left" />
        </div> <!-- end of templatemo_menu -->
    </div> <!-- END of templatemo_header -->
</div> <!-- END of templatemo_header_wrapper -->

<div id="templatemo_main_wrapper">
    <div id="templatemo_main">

{% for product in products %}
        <div class={% cycle '"gallery_box"' '"gallery_box"' '"gallery_box"' '"gallery_box no_margin_right"' %}>
       		<a href="/gallery/{{ product.slug }}" rel="lightbox[portfolio]"><img src="{{ MEDIA_URL }}{{ product.main_image }}" height="112px" width="200px" alt="{{ product.title }}" class="imgage-with-frame"/></a>
            <h5>{{ product.title}}</h5>
            <p>${{ product.cost }}</p>
        </div>
{% endfor %}		

        
        <div class="cleaner"></div>
        <div class="pagging">
            <ul>
                <li><a href="/gallery/{{ current_page|add:"-1"}}" target="_parent">Previous</a></li>
                {% for i in pages|get_range %}
                <li><a href="/gallery/{{ i|add:"1" }}" target="_parent">{{ i|add:"1" }}</a></li>
                {% endfor %}
                <li><a href="/gallery/{{ current_page|add:"1"}}" target="_parent">Next</a></li>
            </ul>
        </div>   
        <div class="cleaner"></div>
                
        <div class="cleaner"></div>
    </div> <!-- END of templatemo_main_wrapper -->
</div> <!-- END of templatemo_main -->

<div id="templatemo_footer_wrapper">
	<div id="templatemo_footer">
    	Copyright © 2012 <a href="#">Joanna Close</a> | Designed by Art in Fibre & Colour Creations Web Engineering
    </div> <!-- END of templatemo_footer -->
</div> <!-- END of templatemo_footer_wrapper -->

</body>
</html>
